In [10]:
import pandas as pd
colnames=['no', 'Daop', 'Nama_Daop', 'Pemilik', 'Jenis', 'Ket', 'Koordinat_X', 'Koordinat_Y'] 
data = pd.read_excel('data_source/depo.xlsx', sheet_name='depo', names=colnames)
data.head()

,no,Daop,Nama_Daop,Pemilik,Jenis,Ket,Koordinat_X,Koordinat_Y
0,15,DAOP 1 JAKARTA,Depo Lokomotif Jatinegara,PT Kereta Api Indonesia (Persero),Depo Sarana Penggerak,NaN,-6.214245,106.867028
1,16,DAOP 1 JAKARTA,Depo Kereta Jakarta Kota,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,NaN,-6.134634,106.823285
2,19,DAOP 1 JAKARTA,Depo Gerbong Jakarta Gudang,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,NaN,-6.133301,106.818028
3,57,DAOP 1 JAKARTA,Depo Kereta Rangkas Bitung,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,NaN,-6.352703,106.253297
4,67,DAOP 1 JAKARTA,Depo Kereta Jakarta Manggarai,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,NaN,NaN,NaN

In [11]:
data.drop(columns=['no', 'Ket'], inplace = True)

In [12]:
data.head()

,Daop,Nama_Daop,Pemilik,Jenis,Koordinat_X,Koordinat_Y
0,DAOP 1 JAKARTA,Depo Lokomotif Jatinegara,PT Kereta Api Indonesia (Persero),Depo Sarana Penggerak,-6.214245,106.867028
1,DAOP 1 JAKARTA,Depo Kereta Jakarta Kota,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-6.134634,106.823285
2,DAOP 1 JAKARTA,Depo Gerbong Jakarta Gudang,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-6.133301,106.818028
3,DAOP 1 JAKARTA,Depo Kereta Rangkas Bitung,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-6.352703,106.253297
4,DAOP 1 JAKARTA,Depo Kereta Jakarta Manggarai,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,NaN,NaN

In [13]:
data['Jenis'].value_counts(dropna=False)

Depo Sarana Penggerak          33
Depo Sarana Tanpa Penggerak    31
Name: Jenis, dtype: int64

In [14]:
data.isna().sum()

Daop            0
Nama_Daop       0
Pemilik         0
Jenis           0
Koordinat_X    18
Koordinat_Y    18
dtype: int64

In [15]:
data.shape

(64, 6)

In [16]:
data.dropna(inplace=True)

In [17]:
data.shape

(46, 6)

In [18]:
data.head()

,Daop,Nama_Daop,Pemilik,Jenis,Koordinat_X,Koordinat_Y
0,DAOP 1 JAKARTA,Depo Lokomotif Jatinegara,PT Kereta Api Indonesia (Persero),Depo Sarana Penggerak,-6.214245,106.867028
1,DAOP 1 JAKARTA,Depo Kereta Jakarta Kota,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-6.134634,106.823285
2,DAOP 1 JAKARTA,Depo Gerbong Jakarta Gudang,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-6.133301,106.818028
3,DAOP 1 JAKARTA,Depo Kereta Rangkas Bitung,PT Kereta Api Indonesia (Persero),Depo Sarana Tanpa Penggerak,-6.352703,106.253297
7,DAOP 2 BANDUNG,Depo Lokomotif Bandung,PT Kereta Api Indonesia (Persero),Depo Sarana Penggerak,-6.913390,107.599592

In [19]:
data.to_csv(path_or_buf='data_source/depo_after.csv', sep=',')