In [1]:
import pandas as pd
colnames=['id', 'kode_sarana', 'kode_sarana_lama', 'id_kartu', 'id_jenis', 'id_sub_jenis', 'seri', 'tahun_dinas', 'id_daops', 'id_depo', 'status', 'negara_asal', 'tgl_uji_pertama', 'tgl_masa_uji', 'tgl_masa_perawatan', 'pabrikan', 'id_pemilik', 'created_at', 'last_update' ] 
data = pd.read_csv('datasarana.csv', names=colnames)

In [2]:
print(data.info())
print(data.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14038 entries, 0 to 14037
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  14038 non-null  int64
 1   kode_sarana         14038 non-null  object
 2   kode_sarana_lama    7221 non-null   object
 3   id_kartu            0 non-null      float64
 4   id_jenis            14038 non-null  int64
 5   id_sub_jenis        14038 non-null  int64
 6   seri                13370 non-null  float64
 7   tahun_dinas         14038 non-null  int64
 8   id_daops            14038 non-null  int64
 9   id_depo             14038 non-null  int64
 10  status              14038 non-null  object
 11  negara_asal         2665 non-null   object
 12  tgl_uji_pertama     13678 non-null  object
 13  tgl_masa_uji        13888 non-null  object
 14  tgl_masa_perawatan  13370 non-null  object
 15  pabrikan            14024 non-null  object
 16  id_pemilik          14038 non-null  int64
 17  created_at          0 non-null      float64
 18  last_update         0 non-null      float64
dtypes: float64(4), int64(7), object(8)
memory usage: 2.0+ MB
None
Index(['id', 'kode_sarana', 'kode_sarana_lama', 'id_kartu', 'id_jenis',
       'id_sub_jenis', 'seri', 'tahun_dinas', 'id_daops', 'id_depo', 'status',
       'negara_asal', 'tgl_uji_pertama', 'tgl_masa_uji', 'tgl_masa_perawatan',
       'pabrikan', 'id_pemilik', 'created_at', 'last_update'],
      dtype='object')

In [3]:
print(data.head())

      id kode_sarana kode_sarana_lama  id_kartu  id_jenis  id_sub_jenis  seri  \
0  14591     K101635              NaN       NaN        11             8   0.0
1  14585     K101629              NaN       NaN        11             8   0.0
2  14583     K101627              NaN       NaN        11             8   0.0
3  16103      P01903              NaN       NaN        11            10   0.0
4  16100     M101903              NaN       NaN        11            11   0.0

   tahun_dinas  id_daops  id_depo status negara_asal tgl_uji_pertama  \
0         2016         7       16  Aktiv         NaN      2016-06-08
1         2016         7       16  Aktiv         NaN      2016-06-08
2         2016         7       16  Aktiv         NaN      2016-06-08
3         2018         7       16  Aktiv   INDONESIA      2019-02-01
4         2018         7       16  Aktiv   INDONESIA      2019-02-01

  tgl_masa_uji tgl_masa_perawatan pabrikan  id_pemilik  created_at  \
0   2019-11-17         0000-00-00  PT INKA           2         NaN
1   2019-11-17         0000-00-00  PT INKA           2         NaN
2   2019-11-17         0000-00-00  PT INKA           2         NaN
3   2020-02-01         0000-00-00  PT INKA           2         NaN
4   2020-02-01         0000-00-00  PT INKA           2         NaN

   last_update
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

In [9]:
def transform_data(jenis_sarana):
    if jenis_sarana == 1 :
        jenis_sarana = 'Lokomotif'
    elif jenis_sarana == 2 :
        jenis_sarana = 'KRL'
    elif jenis_sarana == 3 :
        jenis_sarana = 'KRD'
    elif jenis_sarana == 4 :
        jenis_sarana = 'Gerbong'
    elif jenis_sarana == 9 :
        jenis_sarana = 'Peralatan Khusus'
    elif jenis_sarana == 11 :
        jenis_sarana = 'Kereta'
    elif jenis_sarana == 19 :
        jenis_sarana = 'RailBus'
   
    return jenis_sarana

In [10]:
data['id_jenis'] = data['id_jenis'].apply(lambda x: transform_data(x))

In [11]:
print(data.head())

      id kode_sarana kode_sarana_lama  id_kartu id_jenis  id_sub_jenis  seri  \
0  14591     K101635              NaN       NaN   Kereta             8   0.0
1  14585     K101629              NaN       NaN   Kereta             8   0.0
2  14583     K101627              NaN       NaN   Kereta             8   0.0
3  16103      P01903              NaN       NaN   Kereta            10   0.0
4  16100     M101903              NaN       NaN   Kereta            11   0.0

   tahun_dinas  id_daops  id_depo status negara_asal tgl_uji_pertama  \
0         2016         7       16  Aktiv         NaN      2016-06-08
1         2016         7       16  Aktiv         NaN      2016-06-08
2         2016         7       16  Aktiv         NaN      2016-06-08
3         2018         7       16  Aktiv   INDONESIA      2019-02-01
4         2018         7       16  Aktiv   INDONESIA      2019-02-01

  tgl_masa_uji tgl_masa_perawatan pabrikan  id_pemilik  created_at  \
0   2019-11-17         0000-00-00  PT INKA           2         NaN
1   2019-11-17         0000-00-00  PT INKA           2         NaN
2   2019-11-17         0000-00-00  PT INKA           2         NaN
3   2020-02-01         0000-00-00  PT INKA           2         NaN
4   2020-02-01         0000-00-00  PT INKA           2         NaN

   last_update
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

In [12]:
print(data.tail(10))

         id kode_sarana kode_sarana_lama  id_kartu id_jenis  id_sub_jenis  \
14028  1814    GB350901      ZZOW 351001       NaN  Gerbong            16
14029  1815    GB350902      ZZOW 351002       NaN  Gerbong            16
14030  1816    GB350903      ZZOW 351003       NaN  Gerbong            16
14031  1817    GB350904      ZZOW 351004       NaN  Gerbong            16
14032  1818    GB350905      ZZOW 351005       NaN  Gerbong            16
14033  1819    GB350906      ZZOW 351006       NaN  Gerbong            16
14034  1820    GB350907      ZZOW 351007       NaN  Gerbong            16
14035  1821    GB350908      ZZOW 351008       NaN  Gerbong            16
14036  1822    GB350909      ZZOW 351009       NaN  Gerbong            16
14037  1823    GB350910      ZZOW 351010       NaN  Gerbong            16

       seri  tahun_dinas  id_daops  id_depo status negara_asal  \
14028  58.0         2009        25       71  Aktiv         NaN
14029  58.0         2009        25       71  Aktiv         NaN
14030  58.0         2009        25       71  Aktiv         NaN
14031  58.0         2009        25       71  Aktiv         NaN
14032  58.0         2009        25       71  Aktiv         NaN
14033  58.0         2009        25       71  Aktiv         NaN
14034  58.0         2009        25       71  Aktiv         NaN
14035  58.0         2009        25       71  Aktiv         NaN
14036  58.0         2009        25       71  Aktiv         NaN
14037  58.0         2009        25       71  Aktiv         NaN

      tgl_uji_pertama tgl_masa_uji tgl_masa_perawatan pabrikan  id_pemilik  \
14028      2009-12-28   2020-11-29         0000-00-00  PT INKA           1
14029      2009-12-28   2020-11-29         0000-00-00  PT INKA           1
14030      2009-12-28   2020-11-29         0000-00-00  PT INKA           1
14031      2009-12-28   2020-11-29         0000-00-00  PT INKA           1
14032      2009-12-28   2020-11-29         0000-00-00  PT INKA           1
14033      2009-12-28   2020-11-29         0000-00-00  PT INKA           1
14034      2009-12-28   2020-11-29         0000-00-00  PT INKA           1
14035      2009-12-28   2020-11-29         0000-00-00  PT INKA           1
14036      2009-12-28   2020-11-29         0000-00-00  PT INKA           1
14037      2009-12-28   2017-12-27         0000-00-00  PT INKA           1

       created_at  last_update
14028         NaN          NaN
14029         NaN          NaN
14030         NaN          NaN
14031         NaN          NaN
14032         NaN          NaN
14033         NaN          NaN
14034         NaN          NaN
14035         NaN          NaN
14036         NaN          NaN
14037         NaN          NaN

In [15]:
df_slice = data.loc[(data["kode_sarana"] == "K111801")]
print(df_slice)

         id kode_sarana kode_sarana_lama  id_kartu id_jenis  id_sub_jenis  \
6726  15744     K111801              NaN       NaN      KRL             3

      seri  tahun_dinas  id_daops  id_depo status negara_asal tgl_uji_pertama  \
6726   0.0         2018        27       74  Aktiv      JEPANG      0000-00-00

     tgl_masa_uji tgl_masa_perawatan       pabrikan  id_pemilik  created_at  \
6726   2021-05-08         0000-00-00  NIPPON SHARYO           5         NaN

      last_update
6726          NaN

In [16]:
print(data["id_jenis"].unique())

['Kereta' 'Peralatan Khusus' 'Gerbong' 'KRL' 'Lokomotif' 'KRD']

In [25]:
data = data.rename(columns={"id_jenis": "jenis_sarana", "id_sub_jenis": "sub_jenis_sarana"})

In [26]:
print(data.columns)

Index(['id', 'kode_sarana', 'kode_sarana_lama', 'id_kartu', 'jenis_sarana',
       'sub_jenis_sarana', 'seri', 'tahun_dinas', 'id_daops', 'id_depo',
       'status', 'negara_asal', 'tgl_uji_pertama', 'tgl_masa_uji',
       'tgl_masa_perawatan', 'pabrikan', 'id_pemilik', 'created_at',
       'last_update'],
      dtype='object')

In [27]:
print(data.head())

      id kode_sarana kode_sarana_lama  id_kartu jenis_sarana  \
0  14591     K101635              NaN       NaN       Kereta
1  14585     K101629              NaN       NaN       Kereta
2  14583     K101627              NaN       NaN       Kereta
3  16103      P01903              NaN       NaN       Kereta
4  16100     M101903              NaN       NaN       Kereta

   sub_jenis_sarana  seri  tahun_dinas  id_daops  id_depo status negara_asal  \
0                 8   0.0         2016         7       16  Aktiv         NaN
1                 8   0.0         2016         7       16  Aktiv         NaN
2                 8   0.0         2016         7       16  Aktiv         NaN
3                10   0.0         2018         7       16  Aktiv   INDONESIA
4                11   0.0         2018         7       16  Aktiv   INDONESIA

  tgl_uji_pertama tgl_masa_uji tgl_masa_perawatan pabrikan  id_pemilik  \
0      2016-06-08   2019-11-17         0000-00-00  PT INKA           2
1      2016-06-08   2019-11-17         0000-00-00  PT INKA           2
2      2016-06-08   2019-11-17         0000-00-00  PT INKA           2
3      2019-02-01   2020-02-01         0000-00-00  PT INKA           2
4      2019-02-01   2020-02-01         0000-00-00  PT INKA           2

   created_at  last_update
0         NaN          NaN
1         NaN          NaN
2         NaN          NaN
3         NaN          NaN
4         NaN          NaN

In [30]:
 # df_slice2 = data.loc[(data["tgl_masa_uji"] == "0000-00-00")].apply('2021-01-01')

AttributeError: 'DataFrame' object has no attribute '2021-01-01'

In [ ]:
import datetime
data['masa_uji2'] = data['tgl_masa_uji'].apply(lambda x : datetime.datetime.strptime(x, "%Y-%m-%d").strftime('%Y-%m'))
print(data.head())