In [1]:
import pandas as pd
colnames=['id', 'kode_sarana', 'kode_sarana_lama', 'id_kartu', 'id_jenis', 'id_sub_jenis', 'seri', 'tahun_dinas', 'id_daops', 'id_depo', 'status', 'negara_asal', 'tgl_uji_pertama', 'tgl_masa_uji', 'tgl_masa_perawatan', 'pabrikan', 'id_pemilik', 'created_at', 'last_update' ] 
data = pd.read_csv('datasarana.csv', names=colnames)

In [2]:
print(data.info())
print(data.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14038 entries, 0 to 14037
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  14038 non-null  int64
 1   kode_sarana         14038 non-null  object
 2   kode_sarana_lama    7221 non-null   object
 3   id_kartu            0 non-null      float64
 4   id_jenis            14038 non-null  int64
 5   id_sub_jenis        14038 non-null  int64
 6   seri                13370 non-null  float64
 7   tahun_dinas         14038 non-null  int64
 8   id_daops            14038 non-null  int64
 9   id_depo             14038 non-null  int64
 10  status              14038 non-null  object
 11  negara_asal         2665 non-null   object
 12  tgl_uji_pertama     13678 non-null  object
 13  tgl_masa_uji        13888 non-null  object
 14  tgl_masa_perawatan  13370 non-null  object
 15  pabrikan            14024 non-null  object
 16  id_pemilik          14038 non-null  int64
 17  created_at          0 non-null      float64
 18  last_update         0 non-null      float64
dtypes: float64(4), int64(7), object(8)
memory usage: 2.0+ MB
None
Index(['id', 'kode_sarana', 'kode_sarana_lama', 'id_kartu', 'id_jenis',
       'id_sub_jenis', 'seri', 'tahun_dinas', 'id_daops', 'id_depo', 'status',
       'negara_asal', 'tgl_uji_pertama', 'tgl_masa_uji', 'tgl_masa_perawatan',
       'pabrikan', 'id_pemilik', 'created_at', 'last_update'],
      dtype='object')

In [3]:
print(data.head())

      id kode_sarana kode_sarana_lama  id_kartu  id_jenis  id_sub_jenis  seri  \
0  14591     K101635              NaN       NaN        11             8   0.0
1  14585     K101629              NaN       NaN        11             8   0.0
2  14583     K101627              NaN       NaN        11             8   0.0
3  16103      P01903              NaN       NaN        11            10   0.0
4  16100     M101903              NaN       NaN        11            11   0.0

   tahun_dinas  id_daops  id_depo status negara_asal tgl_uji_pertama  \
0         2016         7       16  Aktiv         NaN      2016-06-08
1         2016         7       16  Aktiv         NaN      2016-06-08
2         2016         7       16  Aktiv         NaN      2016-06-08
3         2018         7       16  Aktiv   INDONESIA      2019-02-01
4         2018         7       16  Aktiv   INDONESIA      2019-02-01

  tgl_masa_uji tgl_masa_perawatan pabrikan  id_pemilik  created_at  \
0   2019-11-17         0000-00-00  PT INKA           2         NaN
1   2019-11-17         0000-00-00  PT INKA           2         NaN
2   2019-11-17         0000-00-00  PT INKA           2         NaN
3   2020-02-01         0000-00-00  PT INKA           2         NaN
4   2020-02-01         0000-00-00  PT INKA           2         NaN

   last_update
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

In [4]:
def transform_data(jenis_sarana):
    if jenis_sarana == 1 :
        jenis_sarana = 'Lokomotif'
    elif jenis_sarana == 2 :
        jenis_sarana = 'KRL'
    elif jenis_sarana == 3 :
        jenis_sarana = 'KRD'
    elif jenis_sarana == 4 :
        jenis_sarana = 'Gerbong'
    elif jenis_sarana == 9 :
        jenis_sarana = 'Peralatan Khusus'
    elif jenis_sarana == 11 :
        jenis_sarana = 'Kereta'
    elif jenis_sarana == 19 :
        jenis_sarana = 'RailBus'
    else :
        jenis_sara = 'undefined'
        
    return jenis_sarana

In [5]:
data['id_jenis'] = data['id_jenis'].apply(lambda x: transform_data(x))

In [6]:
print(data.head())

      id kode_sarana kode_sarana_lama  id_kartu id_jenis  id_sub_jenis  seri  \
0  14591     K101635              NaN       NaN   Kereta             8   0.0
1  14585     K101629              NaN       NaN   Kereta             8   0.0
2  14583     K101627              NaN       NaN   Kereta             8   0.0
3  16103      P01903              NaN       NaN   Kereta            10   0.0
4  16100     M101903              NaN       NaN   Kereta            11   0.0

   tahun_dinas  id_daops  id_depo status negara_asal tgl_uji_pertama  \
0         2016         7       16  Aktiv         NaN      2016-06-08
1         2016         7       16  Aktiv         NaN      2016-06-08
2         2016         7       16  Aktiv         NaN      2016-06-08
3         2018         7       16  Aktiv   INDONESIA      2019-02-01
4         2018         7       16  Aktiv   INDONESIA      2019-02-01

  tgl_masa_uji tgl_masa_perawatan pabrikan  id_pemilik  created_at  \
0   2019-11-17         0000-00-00  PT INKA           2         NaN
1   2019-11-17         0000-00-00  PT INKA           2         NaN
2   2019-11-17         0000-00-00  PT INKA           2         NaN
3   2020-02-01         0000-00-00  PT INKA           2         NaN
4   2020-02-01         0000-00-00  PT INKA           2         NaN

   last_update
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

In [7]:
print(data.tail(10))

         id kode_sarana kode_sarana_lama  id_kartu id_jenis  id_sub_jenis  \
14028  1814    GB350901      ZZOW 351001       NaN  Gerbong            16
14029  1815    GB350902      ZZOW 351002       NaN  Gerbong            16
14030  1816    GB350903      ZZOW 351003       NaN  Gerbong            16
14031  1817    GB350904      ZZOW 351004       NaN  Gerbong            16
14032  1818    GB350905      ZZOW 351005       NaN  Gerbong            16
14033  1819    GB350906      ZZOW 351006       NaN  Gerbong            16
14034  1820    GB350907      ZZOW 351007       NaN  Gerbong            16
14035  1821    GB350908      ZZOW 351008       NaN  Gerbong            16
14036  1822    GB350909      ZZOW 351009       NaN  Gerbong            16
14037  1823    GB350910      ZZOW 351010       NaN  Gerbong            16

       seri  tahun_dinas  id_daops  id_depo status negara_asal  \
14028  58.0         2009        25       71  Aktiv         NaN
14029  58.0         2009        25       71  Aktiv         NaN
14030  58.0         2009        25       71  Aktiv         NaN
14031  58.0         2009        25       71  Aktiv         NaN
14032  58.0         2009        25       71  Aktiv         NaN
14033  58.0         2009        25       71  Aktiv         NaN
14034  58.0         2009        25       71  Aktiv         NaN
14035  58.0         2009        25       71  Aktiv         NaN
14036  58.0         2009        25       71  Aktiv         NaN
14037  58.0         2009        25       71  Aktiv         NaN

      tgl_uji_pertama tgl_masa_uji tgl_masa_perawatan pabrikan  id_pemilik  \
14028      2009-12-28   2020-11-29         0000-00-00  PT INKA           1
14029      2009-12-28   2020-11-29         0000-00-00  PT INKA           1
14030      2009-12-28   2020-11-29         0000-00-00  PT INKA           1
14031      2009-12-28   2020-11-29         0000-00-00  PT INKA           1
14032      2009-12-28   2020-11-29         0000-00-00  PT INKA           1
14033      2009-12-28   2020-11-29         0000-00-00  PT INKA           1
14034      2009-12-28   2020-11-29         0000-00-00  PT INKA           1
14035      2009-12-28   2020-11-29         0000-00-00  PT INKA           1
14036      2009-12-28   2020-11-29         0000-00-00  PT INKA           1
14037      2009-12-28   2017-12-27         0000-00-00  PT INKA           1

       created_at  last_update
14028         NaN          NaN
14029         NaN          NaN
14030         NaN          NaN
14031         NaN          NaN
14032         NaN          NaN
14033         NaN          NaN
14034         NaN          NaN
14035         NaN          NaN
14036         NaN          NaN
14037         NaN          NaN

In [8]:
df_slice = data.loc[(data["kode_sarana"] == "K111801")]
print(df_slice)

         id kode_sarana kode_sarana_lama  id_kartu id_jenis  id_sub_jenis  \
6726  15744     K111801              NaN       NaN      KRL             3

      seri  tahun_dinas  id_daops  id_depo status negara_asal tgl_uji_pertama  \
6726   0.0         2018        27       74  Aktiv      JEPANG      0000-00-00

     tgl_masa_uji tgl_masa_perawatan       pabrikan  id_pemilik  created_at  \
6726   2021-05-08         0000-00-00  NIPPON SHARYO           5         NaN

      last_update
6726          NaN

In [9]:
print(data["id_jenis"].unique())

['Kereta' 'Peralatan Khusus' 'Gerbong' 'KRL' 'Lokomotif' 'RailBus' 'KRD']

In [10]:
data = data.rename(columns={"id_jenis": "jenis_sarana", "id_sub_jenis": "sub_jenis_sarana"})

In [11]:
print(data.columns)

Index(['id', 'kode_sarana', 'kode_sarana_lama', 'id_kartu', 'jenis_sarana',
       'sub_jenis_sarana', 'seri', 'tahun_dinas', 'id_daops', 'id_depo',
       'status', 'negara_asal', 'tgl_uji_pertama', 'tgl_masa_uji',
       'tgl_masa_perawatan', 'pabrikan', 'id_pemilik', 'created_at',
       'last_update'],
      dtype='object')

In [12]:
print(data.head())

      id kode_sarana kode_sarana_lama  id_kartu jenis_sarana  \
0  14591     K101635              NaN       NaN       Kereta
1  14585     K101629              NaN       NaN       Kereta
2  14583     K101627              NaN       NaN       Kereta
3  16103      P01903              NaN       NaN       Kereta
4  16100     M101903              NaN       NaN       Kereta

   sub_jenis_sarana  seri  tahun_dinas  id_daops  id_depo status negara_asal  \
0                 8   0.0         2016         7       16  Aktiv         NaN
1                 8   0.0         2016         7       16  Aktiv         NaN
2                 8   0.0         2016         7       16  Aktiv         NaN
3                10   0.0         2018         7       16  Aktiv   INDONESIA
4                11   0.0         2018         7       16  Aktiv   INDONESIA

  tgl_uji_pertama tgl_masa_uji tgl_masa_perawatan pabrikan  id_pemilik  \
0      2016-06-08   2019-11-17         0000-00-00  PT INKA           2
1      2016-06-08   2019-11-17         0000-00-00  PT INKA           2
2      2016-06-08   2019-11-17         0000-00-00  PT INKA           2
3      2019-02-01   2020-02-01         0000-00-00  PT INKA           2
4      2019-02-01   2020-02-01         0000-00-00  PT INKA           2

   created_at  last_update
0         NaN          NaN
1         NaN          NaN
2         NaN          NaN
3         NaN          NaN
4         NaN          NaN

In [13]:
jumlah_sarana = data.groupby('jenis_sarana')['kode_sarana'].count().reset_index()

In [14]:
print(jumlah_sarana)

       jenis_sarana  kode_sarana
0           Gerbong         9047
1               KRD          142
2               KRL         1676
3            Kereta         2396
4         Lokomotif          532
5  Peralatan Khusus          236
6           RailBus            9

In [15]:
jumlah_sarana2 = data.groupby('id_pemilik')['kode_sarana'].count().reset_index()
print(jumlah_sarana2)

   id_pemilik  kode_sarana
0           1          202
1           2        12269
2           3         1244
3           4           76
4           5           99
5           6           17
6           7           12
7           8          113
8          12            3
9          14            3

In [16]:
jumlah_sarana3 = data.groupby(['jenis_sarana', 'status'])['kode_sarana'].count().reset_index()
print(jumlah_sarana3)

        jenis_sarana       status  kode_sarana
0            Gerbong        Aktiv         8051
1            Gerbong  Tidak Aktiv          996
2                KRD        Aktiv           99
3                KRD  Tidak Aktiv           43
4                KRL        Aktiv         1518
5                KRL  Tidak Aktiv          158
6             Kereta        Aktiv         2018
7             Kereta  Tidak Aktiv          378
8          Lokomotif        Aktiv          485
9          Lokomotif  Tidak Aktiv           47
10  Peralatan Khusus        Aktiv          228
11  Peralatan Khusus  Tidak Aktiv            8
12           RailBus        Aktiv            9

In [17]:
jumlah_sarana4 = data.groupby(['jenis_sarana', 'status'])['kode_sarana'].count().reset_index()
pivot_sarana = jumlah_sarana4.pivot_table(index=['jenis_sarana'], columns='status')

In [18]:
print(pivot_sarana)

                 kode_sarana
status                 Aktiv Tidak Aktiv
jenis_sarana
Gerbong               8051.0       996.0
KRD                     99.0        43.0
KRL                   1518.0       158.0
Kereta                2018.0       378.0
Lokomotif              485.0        47.0
Peralatan Khusus       228.0         8.0
RailBus                  9.0         NaN

pivot_sarana.to_csv(path_or_buf='C:/Users/snovy/DTSPython/DQLab/Latihan/rekap_pivot.csv', sep=',',  header = False, index= False)
digunakan untuk mekspor dataset

pivot_sarana.to_csv(path_or_buf='C:/Users/snovy/DTSPython/DQLab/Latihan/rekap_pivot2.csv', sep=',')

In [19]:
df_slice2 = data.loc[(data["tgl_masa_uji"] == "0000-00-00")]
print(df_slice2)

         id kode_sarana kode_sarana_lama  id_kartu jenis_sarana  \
117    3122    GD421026              NaN       NaN      Gerbong
118    7554    GD421193              NaN       NaN      Gerbong
119    7550    GD421189              NaN       NaN      Gerbong
120    8804    GD421155              NaN       NaN      Gerbong
121    7864    GD421135              NaN       NaN      Gerbong
...     ...         ...              ...       ...          ...
14023  8739   GB3084134       ZZOW 30216       NaN      Gerbong
14024  8740   GB3084135       ZZOW 30217       NaN      Gerbong
14025  8741   GB3084136       ZZOW 30218       NaN      Gerbong
14026  8742   GB3084137       ZZOW 30219       NaN      Gerbong
14027  8743   GB3084141       ZZOW 30224       NaN      Gerbong

       sub_jenis_sarana  seri  tahun_dinas  id_daops  id_depo       status  \
117                   7  54.0         2010         7       19  Tidak Aktiv
118                   7  54.0         2011         7       19        Aktiv
119                   7  54.0         2011         7       19        Aktiv
120                   7  54.0         2011         7       19        Aktiv
121                   7  54.0         2011         7       19        Aktiv
...                 ...   ...          ...       ...      ...          ...
14023                16  58.0         1984        18       51  Tidak Aktiv
14024                16  58.0         1984        18       51  Tidak Aktiv
14025                16  58.0         1984        18       51  Tidak Aktiv
14026                16  58.0         1984        26       54        Aktiv
14027                16  58.0         1984        18       51  Tidak Aktiv

      negara_asal tgl_uji_pertama tgl_masa_uji tgl_masa_perawatan  \
117           NaN      2009-12-28   0000-00-00         0000-00-00
118           NaN      2012-02-20   0000-00-00         0000-00-00
119           NaN      2012-02-03   0000-00-00         0000-00-00
120           NaN      2012-02-03   0000-00-00         0000-00-00
121           NaN      2012-07-31   0000-00-00         0000-00-00
...           ...             ...          ...                ...
14023         NaN      0000-00-00   0000-00-00         0000-00-00
14024         NaN      0000-00-00   0000-00-00         0000-00-00
14025         NaN      0000-00-00   0000-00-00         0000-00-00
14026         NaN      0000-00-00   0000-00-00         0000-00-00
14027         NaN      0000-00-00   0000-00-00         0000-00-00

             pabrikan  id_pemilik  created_at  last_update
117           PT INKA           2         NaN          NaN
118           PT INKA           2         NaN          NaN
119           PT INKA           2         NaN          NaN
120           PT INKA           2         NaN          NaN
121           PT INKA           2         NaN          NaN
...               ...         ...         ...          ...
14023  ARAD (RUMANIA)           2         NaN          NaN
14024  ARAD (RUMANIA)           2         NaN          NaN
14025  ARAD (RUMANIA)           2         NaN          NaN
14026  ARAD (RUMANIA)           2         NaN          NaN
14027  ARAD (RUMANIA)           2         NaN          NaN

[1491 rows x 19 columns]

In [20]:
data_baru = data.replace({'tgl_masa_uji': '0000-00-00'}, {'tgl_masa_uji': '2021-01-01'})

In [21]:
print(data_baru[117:121])

       id kode_sarana kode_sarana_lama  id_kartu jenis_sarana  \
117  3122    GD421026              NaN       NaN      Gerbong
118  7554    GD421193              NaN       NaN      Gerbong
119  7550    GD421189              NaN       NaN      Gerbong
120  8804    GD421155              NaN       NaN      Gerbong

     sub_jenis_sarana  seri  tahun_dinas  id_daops  id_depo       status  \
117                 7  54.0         2010         7       19  Tidak Aktiv
118                 7  54.0         2011         7       19        Aktiv
119                 7  54.0         2011         7       19        Aktiv
120                 7  54.0         2011         7       19        Aktiv

    negara_asal tgl_uji_pertama tgl_masa_uji tgl_masa_perawatan pabrikan  \
117         NaN      2009-12-28   2021-01-01         0000-00-00  PT INKA
118         NaN      2012-02-20   2021-01-01         0000-00-00  PT INKA
119         NaN      2012-02-03   2021-01-01         0000-00-00  PT INKA
120         NaN      2012-02-03   2021-01-01         0000-00-00  PT INKA

     id_pemilik  created_at  last_update
117           2         NaN          NaN
118           2         NaN          NaN
119           2         NaN          NaN
120           2         NaN          NaN

In [22]:
print(data_baru.dtypes)

id                      int64
kode_sarana            object
kode_sarana_lama       object
id_kartu              float64
jenis_sarana           object
sub_jenis_sarana        int64
seri                  float64
tahun_dinas             int64
id_daops                int64
id_depo                 int64
status                 object
negara_asal            object
tgl_uji_pertama        object
tgl_masa_uji           object
tgl_masa_perawatan     object
pabrikan               object
id_pemilik              int64
created_at            float64
last_update           float64
dtype: object

In [23]:
import datetime
#df.col = pd.to_datetime(df.col).dt.strftime('%m/%Y')
data_baru['expired_month'] = pd.to_datetime(data_baru['tgl_masa_uji']).dt.strftime('%Y-%m')
data_baru['expired_year'] = pd.to_datetime(data_baru['tgl_masa_uji']).dt.strftime('%Y')
print(data_baru.head())

      id kode_sarana kode_sarana_lama  id_kartu jenis_sarana  \
0  14591     K101635              NaN       NaN       Kereta
1  14585     K101629              NaN       NaN       Kereta
2  14583     K101627              NaN       NaN       Kereta
3  16103      P01903              NaN       NaN       Kereta
4  16100     M101903              NaN       NaN       Kereta

   sub_jenis_sarana  seri  tahun_dinas  id_daops  id_depo  ... negara_asal  \
0                 8   0.0         2016         7       16  ...         NaN
1                 8   0.0         2016         7       16  ...         NaN
2                 8   0.0         2016         7       16  ...         NaN
3                10   0.0         2018         7       16  ...   INDONESIA
4                11   0.0         2018         7       16  ...   INDONESIA

  tgl_uji_pertama tgl_masa_uji tgl_masa_perawatan pabrikan id_pemilik  \
0      2016-06-08   2019-11-17         0000-00-00  PT INKA          2
1      2016-06-08   2019-11-17         0000-00-00  PT INKA          2
2      2016-06-08   2019-11-17         0000-00-00  PT INKA          2
3      2019-02-01   2020-02-01         0000-00-00  PT INKA          2
4      2019-02-01   2020-02-01         0000-00-00  PT INKA          2

   created_at  last_update  expired_month expired_year
0         NaN          NaN        2019-11         2019
1         NaN          NaN        2019-11         2019
2         NaN          NaN        2019-11         2019
3         NaN          NaN        2020-02         2020
4         NaN          NaN        2020-02         2020

[5 rows x 21 columns]

menambahkan kolom baru (expired_month) dan (expired_year) yang mengkonversi nilai tanggal pada kolom tgl_masa_uji ke format tahun-bulan dan tahun

In [24]:
jumlah_sarana5 = data_baru.groupby(['expired_year'])['kode_sarana'].count().reset_index()
print(jumlah_sarana5)

   expired_year  kode_sarana
0          1970            3
1          2009            4
2          2012            4
3          2013           17
4          2016           13
5          2017          107
6          2018           65
7          2019         1912
8          2020         7499
9          2021         4090
10         2022          174

comand untuk filtering/query data berdasarkan kondisi tertentu

In [25]:
df_slice3 = data_baru.loc[(data_baru["status"] == "Aktiv")]
df_slice4 = df_slice3[df_slice3["id_pemilik"] == 2]
print(df_slice4.head)

<bound method NDFrame.head of           id kode_sarana kode_sarana_lama  id_kartu jenis_sarana  \
0      14591     K101635              NaN       NaN       Kereta
1      14585     K101629              NaN       NaN       Kereta
2      14583     K101627              NaN       NaN       Kereta
3      16103      P01903              NaN       NaN       Kereta
4      16100     M101903              NaN       NaN       Kereta
...      ...         ...              ...       ...          ...
14007   8724   GB3084101       ZZOW 30180       NaN      Gerbong
14009   8744   GB3084142       ZZOW 30185       NaN      Gerbong
14012   8728   GB3084109       ZZOW 30189       NaN      Gerbong
14018   8734   GB3084123       ZZOW 30204       NaN      Gerbong
14026   8742   GB3084137       ZZOW 30219       NaN      Gerbong

       sub_jenis_sarana  seri  tahun_dinas  id_daops  id_depo  ...  \
0                     8   0.0         2016         7       16  ...
1                     8   0.0         2016         7       16  ...
2                     8   0.0         2016         7       16  ...
3                    10   0.0         2018         7       16  ...
4                    11   0.0         2018         7       16  ...
...                 ...   ...          ...       ...      ...  ...
14007                16  57.0         1984        26       54  ...
14009                16  58.0         1984        26       54  ...
14012                16  58.0         1984        26       54  ...
14018                16  58.0         1984        26       54  ...
14026                16  58.0         1984        26       54  ...

      negara_asal tgl_uji_pertama tgl_masa_uji tgl_masa_perawatan  \
0             NaN      2016-06-08   2019-11-17         0000-00-00
1             NaN      2016-06-08   2019-11-17         0000-00-00
2             NaN      2016-06-08   2019-11-17         0000-00-00
3       INDONESIA      2019-02-01   2020-02-01         0000-00-00
4       INDONESIA      2019-02-01   2020-02-01         0000-00-00
...           ...             ...          ...                ...
14007         NaN      0000-00-00   2021-01-01         0000-00-00
14009         NaN      0000-00-00   2021-01-01         0000-00-00
14012         NaN      0000-00-00   2021-01-01         0000-00-00
14018         NaN      0000-00-00   2021-01-01         0000-00-00
14026         NaN      0000-00-00   2021-01-01         0000-00-00

             pabrikan id_pemilik  created_at  last_update  expired_month  \
0             PT INKA          2         NaN          NaN        2019-11
1             PT INKA          2         NaN          NaN        2019-11
2             PT INKA          2         NaN          NaN        2019-11
3             PT INKA          2         NaN          NaN        2020-02
4             PT INKA          2         NaN          NaN        2020-02
...               ...        ...         ...          ...            ...
14007  ARAD (RUMANIA)          2         NaN          NaN        2021-01
14009  ARAD (RUMANIA)          2         NaN          NaN        2021-01
14012  ARAD (RUMANIA)          2         NaN          NaN        2021-01
14018  ARAD (RUMANIA)          2         NaN          NaN        2021-01
14026  ARAD (RUMANIA)          2         NaN          NaN        2021-01

      expired_year
0             2019
1             2019
2             2019
3             2020
4             2020
...            ...
14007         2021
14009         2021
14012         2021
14018         2021
14026         2021

[10735 rows x 21 columns]>

In [26]:
print(df_slice4["status"].unique())
print(df_slice4["id_pemilik"].unique())
print(df_slice4.dtypes)

['Aktiv']
[2]
id                      int64
kode_sarana            object
kode_sarana_lama       object
id_kartu              float64
jenis_sarana           object
sub_jenis_sarana        int64
seri                  float64
tahun_dinas             int64
id_daops                int64
id_depo                 int64
status                 object
negara_asal            object
tgl_uji_pertama        object
tgl_masa_uji           object
tgl_masa_perawatan     object
pabrikan               object
id_pemilik              int64
created_at            float64
last_update           float64
expired_month          object
expired_year           object
dtype: object

In [45]:
from datetime import *
#today = datetime.date(datetime.now())
today = date.today()
tgl = "2020-01-01"
#date = datetime.strptime(tgl, '%Y-%m-%d')
tgl = pd.to_datetime(tgl, format='%Y-%m-%d') 
tgl = datetime.date(tgl)

print(today)
print(tgl)
def status_uji(tgl):
    today = date.today()
    tgl = pd.to_datetime(tgl, format='%Y-%m-%d') 
    tgl = datetime.date(tgl)
    if tgl  <= today :
        status = 'Expired'
    else :
        status = 'Masih Berlaku'
    
    return status

2021-06-08
2020-01-01

In [48]:
df_slice4['status_masauji']=df_slice4['tgl_masa_uji'].apply(lambda x : status_uji(x))

print(df_slice4['status_masauji'].unique())

['Expired' 'Masih Berlaku']

<ipython-input-48-277c3819fc19>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_slice4['status_masauji']=df_slice4['tgl_masa_uji'].apply(lambda x : status_uji(x))

In [43]:
jumlah_sarana6 = df_slice4.groupby(['status_masauji'])['kode_sarana'].count().reset_index()
print(jumlah_sarana6)

  status_masauji  kode_sarana
0        Expired         9670
1  Masih Berlaku         1065

In [44]:
print(df_slice4.head())

      id kode_sarana kode_sarana_lama  id_kartu jenis_sarana  \
0  14591     K101635              NaN       NaN       Kereta
1  14585     K101629              NaN       NaN       Kereta
2  14583     K101627              NaN       NaN       Kereta
3  16103      P01903              NaN       NaN       Kereta
4  16100     M101903              NaN       NaN       Kereta

   sub_jenis_sarana  seri  tahun_dinas  id_daops  id_depo  ...  \
0                 8   0.0         2016         7       16  ...
1                 8   0.0         2016         7       16  ...
2                 8   0.0         2016         7       16  ...
3                10   0.0         2018         7       16  ...
4                11   0.0         2018         7       16  ...

  tgl_uji_pertama tgl_masa_uji tgl_masa_perawatan pabrikan id_pemilik  \
0      2016-06-08   2019-11-17         0000-00-00  PT INKA          2
1      2016-06-08   2019-11-17         0000-00-00  PT INKA          2
2      2016-06-08   2019-11-17         0000-00-00  PT INKA          2
3      2019-02-01   2020-02-01         0000-00-00  PT INKA          2
4      2019-02-01   2020-02-01         0000-00-00  PT INKA          2

  created_at  last_update  expired_month  expired_year status_masauji
0        NaN          NaN        2019-11          2019        Expired
1        NaN          NaN        2019-11          2019        Expired
2        NaN          NaN        2019-11          2019        Expired
3        NaN          NaN        2020-02          2020        Expired
4        NaN          NaN        2020-02          2020        Expired

[5 rows x 22 columns]