In [3]:
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
import MySQLdb
from sqlalchemy import create_engine
#engine = create_engine('mysql://scott:tiger@localhost:5432/mydatabase') - setup koneksi lengkap dg passoword dan port akses mysql
engine = create_engine("mysql://root:Kayana123@34.101.246.80:3306/dqlab")

In [4]:
with engine.connect() as conn, conn.begin():
    data = pd.read_sql_table("customer", conn)

In [5]:
data.head()

,id,Name,address,Gender,phone,email,DOB
0,1,Wani Nurdiyanti,"Psr. Jayawijaya No. 913, Sawahlunto 10252, Sul...",Female,(+62) 976 8680 7043,waniti@gmail.com,1993-05-10
1,2,Luwes Putra S.I.Kom,"Ki. Yap Tjwan Bing No. 971, Cilegon 53283, Maluku",Male,0984 8194 3662,luwespom@gmail.com,1999-04-17
2,3,Prasetya Karsa Mustofa S.Ked,"Psr. Bakin No. 775, Kotamobagu 62174, Lampung",Male,(+62) 542 0486 562,praseted@gmail.com,1994-02-03
3,4,Anastasia Ade Safitri,"Gg. Gardujati No. 141, Magelang 24938, JaBar",Female,0748 7971 493,anastri@gmail.com,1998-01-14
4,5,Gaman Tasnim Pratama S.T.,"Ds. Bambon No. 441, Tual 97842, DIY",Male,0277 7636 0163,gamantast@gmail.com,1998-04-24